<div class="public-session-details"
     data-component="my-questions-details">

  <section class="main-title">
    <h1 class="main-title__theme">
      {{theme}}
    </h1>
    <p class="main-title__category">
      <span>Категория:</span> {{category}}
    </p>
    <p class="main-title__speaker">
      <span>Спикер: </span> {{firstname}} {{lastname}}
    </p>
  </section>

  <section class="my-questions-details__question-container">
    <h2 class="my-questions-details__question-title">
     Мой Вопрос
    </h2>
    <p class="my-questions-details__question">
     {{question}}
    </p>
  </section>

  <section class="describe">
    <h2 class="describe__title">
      Описание сессии
    </h2>
    <p class="describe__content">
      {{sessionDescribe}}
    </p>
  </section>

  <section class="describe">
    <h2 class="describe__title">
      О спикере
    </h2>
    <p class="describe__content">
      {{speakerDescribe}}
    </p>
  </section>
</div>
