<button class="button button-eye"
        data-component="{{componentName}}"
        type="button">
  <img class="button-eye__img-show"
       data-element="{{componentName}}__img-show"
       src="{{imgShowUrl}}"
       alt="show password">
  <img class="button-eye__img-hide hidden"
       data-element="{{componentName}}__img-hide"
       src="{{imgHideUrl}}"
       alt="hide password">
</button>
