<select class="select select-{{componentName}}"
        data-component="select-{{componentName}}"
        id="{{componentName}}">
  {{#if disableFirst}}
    <option disabled selected>Выберите категорию</option>
  {{/if}}
  {{#each categories}}
    <option value="{{value}}">{{content}}</option>
  {{/each}}
</select>
