<select class="select select-{{componentName}}"
        data-component="select-{{componentName}}"
        id="{{componentName}}">
  {{#each categories}}
    <option value="{{value}}" {{disabled}} {{selected}}>{{content}}</option>
  {{/each}}
</select>
