<div class="{{className}}"
     data-component="{{componentName}}">
  <button class="button {{className}}__button
          {{#if modifierClassName}}
            {{className}}__button_{{modifierClassName}}
          {{/if}}"
         data-element="{{componentName}}__button">
   {{value}}
  </button>
</div>
