<div class="{{className}}"
     data-component="{{componentName}}">
  <input type="submit"
        value="{{value}}"
        class="button {{className}}__button"
        data-element="{{componentName}}__button">
</div>
